{:deps    {org.clojure/clojure {:mvn/version "1.10.0"}
           clj-time            {:mvn/version "0.14.4"}}
 :paths   ["src" "classes"]
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                     :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
            :main-opts   ["-m" "cognitect.test-runner"]}}}
